*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: "DM Serif Display", serif;
    line-height: 1.6;
}
:root {
    --primary-color: #255538;
    --secondary-color: #7e4333;
    --bg-color: #f3e5d8;
    --text-color: #ffffff;
    --p-color: #000000;
    --border-radius: 10px;
    --li-color: #000000;
    --header-color:#ffffff;
    --pie-color:#ffffff;
    --backToTop: #255538;
    --icon-color: #ffffff;
    --uno-color: #ffffff;
    --inst-color: #F7F0F4;
}

.dark-mode{
    --bg-color: #000000;
    --text-color: #2f2f2f;
    --secondary-color : #ffffff;
    --p-color : #ffffff;
    --li-color: #ffffff;
    --header-color: #ffffff;
    --pie-color:#ffffff;
    --backToTop: #ffffff;
    --icon-color: #ffffff;
    --uno-color: #ffffff;
    --inst-color: #4E4D4E;
}
h1 {
    color: var(--header-color);
    padding: 10px;
}

h2 {
    color: var(--secondary-color);
    padding-left: 5px;
}

h2:hover{
    text-decoration: underline;
}

h3 {
    color: var(--secondary-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

#grid-container{
    display: grid;
    
    /* background-color: rgb(97, 124, 231); */
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto 1fr 30px 1fr 1fr auto;

    margin: 10px;
}
p{
    color: var(--p-color);
}
.header, footer {
    grid-area: 1/1/1/6;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

/* .header{
    position: sticky;
    top: 0;
    z-index: 2;
} */

.header{
    margin-bottom: 15px;
}

.header-pagina{
    color: var(--header-color);
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


 .icon #luna{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 30px;
    background-color: var(--icon-color);
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s ease;
}


header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;

}

section{

    background-image: url("../img/rest1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-area: 2/1/3/5;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px ;
    display: flex;
    font-size:x-large;
    align-items:normal;
}

#img-principal{
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("../hero.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}

article{
    grid-area: 3/1/3/4;
    margin-left: 10%;
    margin-right: 10%;
    font-size:larger;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

main{
    grid-area: 4/1/6/5;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}


a{
    color: var(--uno-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    margin: 0.7rem;
    color: var(--li-color);
}


.recipe-list{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;

}

.recipe-list img{
    width: 100%;
    height: 250px;
    border-radius: 9px;
}

.recipe-card1, .recipe-card2, .recipe-card3, .recipe-card4, .recipe-card5, .recipe-card6 {
    background-color: var(--text-color);
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer{
    grid-area: 6/1/6/6;
    margin-top: 15px;
}

.pie-pagina {
    display: flex;
    align-items: center;
    color: var(--pie-color);
}

#backToTop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    /* padding: 10px 20px; */
    background-color: var(--backToTop);
    color: var( --text-color);
    border: none;
    height: 20px;
    width: 25px;
    border-radius: 50px;
    cursor: pointer;
    display: none;
}



#backToTop:hover {
    background-color: #555;
}



@media screen and (max-width: 900px) {
    
    
    #grid-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7,auto);
        height: 100vh;
        margin: 0;
        box-sizing: border-box;

        

    }

    section{
        height: 100%;
    }

    article{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: medium;

    }

    main{
        margin-top: 0;
        .recipe-list{
            grid-template-columns: repeat(2,1fr);
        }

        li{
            font-size: small;
        }
        
    }
}

@media screen and (max-width: 600px) {
    #grid-container{
        grid-template-columns: 1fr;
        
    }

    article{
        display: flex;
        align-items: center;
        padding-bottom: 5px;
    }

    main{
        .recipe-list{
            grid-template-columns: 1fr;
            
        }
    }

    #backToTop{
        right: 5px;
    }
}