*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: "DM Serif Display", serif;
    line-height: 1.6;
}
:root {
    --primary-color: #255538;
    --secondary-color: #7e4333;
    --bg-color: #f3e5d8;
    --text-color: #ffffff;
    --p-color: #000000;
    --border-radius: 10px;
    --li-color: #000000;
    --header-color:#ffffff;
    --pie-color:#ffffff;
    --backToTop: #255538;
    --icon-color: #ffffff;
    --uno-color: #ffffff;
    --inst-color: #F7F0F4;
    --form-color: #ffffff;
    --input-form: #DFDFDF;
}

.dark-mode{
    --bg-color: #000000;
    --text-color: #2f2f2f;
    --secondary-color : #ffffff;
    --p-color : #ffffff;
    --li-color: #ffffff;
    --header-color: #ffffff;
    --pie-color:#ffffff;
    --backToTop: #ffffff;
    --icon-color: #ffffff;
    --uno-color: #ffffff;
    --inst-color: #4E4D4E;
    --form-color:#2F2F2F;
    --input-form: #4E4D4E;
}

#grid-container{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 70px auto 75px;
    grid-template-areas: 
        "header header header"
        ". main ."
        "footer footer footer"; 
    height: 100vh;
    margin: 10px;
}

h1 {
    color: var(--secondary-color);
}


h2:hover{
    text-decoration: underline;
}

h3 {
    color: var(--secondary-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    color: var(--p-color);
}

a{
    color: var(--uno-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.header, footer {
    grid-area: header;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    margin-bottom: 20px;
}

.header-pagina{
    color: var(--header-color);
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}


 .icon #luna{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 30px;
    background-color: var(--icon-color);
    border-radius: 50%;
    margin-right: 10px;
    
}


header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;

}

main{
    grid-area: main;
    
}


#form-principal{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--form-color);
    border-radius: 5px;
    padding: 20px;
}
input{
    display: inline-block;
    color: var(--li-color);
}

.inputContainer{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    margin-bottom: 15px; 
    vertical-align: top;
    text-align: left;
}

label {
    margin-bottom: 5px; 
    color: var(--secondary-color);
    font-size: 20px;
}

#nombre_receta{
    height: 50px;
    background-color: var(--input-form);
    border: none;
    
}

#tiempo_receta{
    height: 50px;
    background-color: var(--input-form);
    border: none;
    border-radius: 5px;
}


#ingredientes {
    height: 100px;
    background-color: var(--input-form);
    border: none;
    border-radius: 5px;
    
}

#instrucciones {
    height: 100px;
    background-color: var(--input-form);
    border: none;
    border-radius: 5px;
}


#boton-enviar{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #255538;
    border: none;
    color: var(--header-color);
    cursor: pointer;
}

#boton-enviar:hover{
    background-color: #57876a;
}

footer{
   grid-area: footer;
    margin-top: 20px;
}

.pie-pagina {
    display: flex;
    align-items: center;
    color: var(--pie-color);
}

#backToTop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: var(--backToTop);
    color: var( --text-color);
    border: none;
    height: 20px;
    width: 25px;
    border-radius: 50px;
    cursor: pointer;
    display: none;
}



#backToTop:hover {
    background-color: #555;
}

@media screen and (max-width: 1000px) {
    #grid-container{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 70px 1fr 75px;
        
    }
    main{
        max-height: fit-content;
    }
   
}
